/* CSS Document */

/*=======================
:D--\--<
BASIC STRUCTURE
/\:D--]--<
=======================*/
#wrapper {
	width: 960px;
	padding:  5px;
	margin: 20px auto;
}
#header{
	height: 100px
}
#sidebar{
	float: left;
	width: 300px;
}
#content{
	float: right;
	width: 600px;
}

#footer{
clear: both;
}
/*=======================
:D-\--<
COLORS AND FONTS
Color.adobe.com
/\:D--]--<

#B288FF
#857BE8
#3FFF67
#7BACE8
#88DCFF
=======================*/
body{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu San s Condensed", Helvetica, Arial, "sans-serif";
	color:#88DCFF;
	background-image: url(../images/background.jpg);
	
	/*background-color:#3FFF67 ;*/
}

#header, #sidebar, #content, #footer{
	/*background-color:transparent;*/
	background-color:rgba(102,102,102,0.5);
	border:double;
	border-radius: 8px;
	border-color:grey;
	padding-left: 4px;
	padding-right: 4px;
} 
@media screen and (max-width: 980px) {
	#wrapper {
		width: 94%;
	}
	#content {
		width: 65%;
	}
	#sidebar {
		width: 30%;
	}
}
@media screen and (max-width: 700px) {
	#content, #sidebar {
		with: auto;
		float: none;
	}
	#header {
		height: auto;
	}
}
@media screen and (max-width: 480px) {
	h1 {
		font-size: 24px;
	}
}
/*phones*/
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 658px) {
		body {
			font-size: 40px;
		}
		#header {
			height: auto;
		}
		#content {
			width: auto;
		}
		#sidebar{
			width: auto;
			clear: both;
		}
		#header, #sidebar, #content, #footer {
			border-radius: 16px;
			border-width: 8px;
		}
}